*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* DEBUG  */

.debug header{
    
}

.debug .main_container{
    background-color: green;
}
.debug main{
    background-color: aquamarine;
}

.debug .speaker_view{
    background-color: grey;
    width: 100px;
    height: 30px;
}

.debug .extend{
    background-color: rgb(191, 189, 189);
    width: 100px;
    height: 30px;
}

/* fine DEBUG  */

.body{
    width: 100%;
    height: 100vh;
}

header{
    width: 100%;
    height: 75px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header .video_settings{
    display: flex;
}



main{
    height: calc(100vh - 150px);
    width: 100%;
    background-color: black;
}

.main_container{
    max-width: 90%;
    height: 100%;
    margin: auto;
    overflow-y: auto;
}

.person{
    height: 116px;
    width: 190px;
    background-color: rgb(105, 105, 105);
    margin: 10px 2px;
    display: inline-block;
}

::-webkit-scrollbar{
    display: none;
}


footer{
    width: 100%;
    height: 75px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #222222;
}